Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [1]:
from datetime import datetime

In [2]:
the_mow_times = 'Wednesday, October 2, 2002'
datetime.strptime(the_mow_times, '%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [3]:
the_guardian = 'Friday, 11.10.13'
datetime.strptime(the_guardian, '%A, %d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [4]:
the_daily_news = 'Thursday, 18 August 1977'
datetime.strptime(the_daily_news, '%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [20]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [21]:
def correct_data_check (data_str):
        try:
            datetime.strptime(data_str, '%Y-%m-%d')
            return True
        except ValueError:
            return False

In [25]:
for data_check in stream:
    print(correct_data_check (data_check))

True
False
False

Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [26]:
from datetime import timedelta
start_date = input("Please enter start date: ")
end_date = input("Please enter end date: ")

Please enter start date: 2014-5-5
Please enter end date: 2014-6-6

In [34]:
def date_range (start_dt_str, end_dt_str):
    
    data_interval_list = []
    
    if correct_data_check(start_dt_str) == True and correct_data_check(end_dt_str) == True:
        start_dt = datetime.strptime(start_dt_str, '%Y-%m-%d')
        end_dt = datetime.strptime(end_dt_str, '%Y-%m-%d')
        if end_dt >= start_dt:
            current_dt = start_dt
            while current_dt <= end_dt:
                data_interval_list.append(current_dt.strftime('%Y-%m-%d'))
                current_dt += timedelta(days=1)
    return data_interval_list

In [36]:
date_range (start_date, end_date)

['2014-05-05',
 '2014-05-06',
 '2014-05-07',
 '2014-05-08',
 '2014-05-09',
 '2014-05-10',
 '2014-05-11',
 '2014-05-12',
 '2014-05-13',
 '2014-05-14',
 '2014-05-15',
 '2014-05-16',
 '2014-05-17',
 '2014-05-18',
 '2014-05-19',
 '2014-05-20',
 '2014-05-21',
 '2014-05-22',
 '2014-05-23',
 '2014-05-24',
 '2014-05-25',
 '2014-05-26',
 '2014-05-27',
 '2014-05-28',
 '2014-05-29',
 '2014-05-30',
 '2014-05-31',
 '2014-06-01',
 '2014-06-02',
 '2014-06-03',
 '2014-06-04',
 '2014-06-05',
 '2014-06-06']

In [48]:
date_range (end_date, start_date)

[]

Задание 4 (бонусное)
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:
    1. Что значит ошибка list index out of range?
    2. Почему при первом запуске функция работает корректно, а при втором - нет?

In [49]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):

    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

In [50]:
delete_and_return_last_user(1)

'A101'

In [51]:
delete_and_return_last_user(1)

IndexError: list index out of range

      1.Ошибка означает, что запрошенный индекс отсутствует в списке.То есть, мы пытаемся обратиться к элементу с несуществующим индексом.
      2. При первом запуске у нас получается:
          element_to_delete = A102
          default_list = [A100, A101]
          Функция возвращает элемент с индексом [3-2]: default_list[1] = A101
        При втором запуске: 
          element_to_delete = A101
          default_list = [A100]
          Функция возвращает элемент с индексом [3-2]: default_list[1] (!!!)
          Но у нас список состоит лишь из одного элемента с индексом [0].